<ul class="nav nav-pills nav-stacked nav-left">
    <li role="presentation" id="navLeftFocus_bannerMgr"><a href="#"><span class="glyphicon glyphicon-align-justify"></span> 首页banner管理</a></li>
    <li role="presentation" id="navLeftFocus_cityMgr"><a href="#"><span class="glyphicon glyphicon-globe"></span> 城市区域管理</a></li>
    <li role="presentation" id="navLeftFocus_createField_fieldMgr">
        <a href="#" onclick="javascript:void(0)" class="nav-menu-tree">
            <span class="glyphicon glyphicon-tint"></span>
            球场管理
            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
        </a>
        <ul class="nav-menu-tree-ul nav nav-pills nav-stacked">
            <li role="presentation" id="navLeftFocus_createField"><a href="/admin/createField"><span class="glyphicon glyphicon-plus-sign"></span> 新建球场</a></li>
            <li role="presentation" id="navLeftFocus_fieldMgr"><a href="#"><span class="glyphicon glyphicon-leaf"></span> 所有球场</a></li>
        </ul>
    </li>
    <li role="presentation" id="navLeftFocus_orderMgr"><a href="#"><span class="glyphicon glyphicon-time"></span> 订单管理</a></li>
</ul>

<div class="nav-right">