<header class="header">
    <a href="/admin/home" class="header-logo">哇咔足球管理后台</a>
    <div class="header-nav">

            <div class="dropdown user-nav">
                <a style="display:block; color: #fff !important; text-decoration: none;" class="dropdown-toggle" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="javascript:void(0)">
                    <span class="glyphicon glyphicon-user"></span>
                    <span id="userMobileLoad" style="color: #fff" >用户</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuUser">
                    <li><button class="btn btn-default">修改密码</button></li>
                    <li><button class="btn btn-default">登出</button></li>
                </ul>
            </div>

    </div>
</header>